@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

:root{
    --primary:#ffffffac;
    --secondary: #386c8a;
    --portfolio: #d4d3d369;
}

* {
	
	box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h2{
    font-size: calc(100vw*0.03);
}

header{
    background-image: linear-gradient(-20deg, #79928e9f 0%, #5d6baac0 100%),url('/images/showcase.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    margin: 0;
    padding: 0%;
    height: calc(100vw*0.5);
}

.menu-barra{
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding-inline-start: 10px;
    color: rgba(236, 231, 231, 0.836);
    height: calc(100vw*0.1);
}

.menu-barra>ul{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}
.menu-barra>ul>li{
    margin-right: 15px;
    align-items: center;
}
.menu-barra>ul>li>a{
    color: var(--primary);
    font-size: calc(100vw*0.02);
    align-items: center;
}
.welcome{
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 20px;
    color: var(--primary);
    font-size: calc(100vw*0.023);
    
}
.container{
    margin-top: 2.3vw;
    padding: auto;
}
.bt-genral{
    display: flex;
    background-color: var(--secondary);
    border: solid  white;
    border-radius: 20vw;
    width: calc(100vw*0.25);
    height: calc(100vw*0.05);
    justify-content: center;
    align-content: center;
    align-items: center;
}
.bt-genral>a{
    text-transform: capitalize;
    position: relative;
    color: white;
    font-size: calc(100vw*0.018);
    align-items: center;
}
.bt-genral:hover{
    background-color:rgb(40, 38, 51);

}
/* About-sec*/
.about-sec{
    text-align: center;
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: space-around;
    
}

.about-body{
    display:flex;
    padding: 20px;
    margin: 20px;
    text-align: center;
    align-items: center;
    align-content: center;
    flex-direction: column;

}
.about-img{
    width: 100%;
    height: 50%;
    display: block;
    object-fit: cover; 
}

/*proyecto seccion*/
.proyect-sec{
    background-color: var(--portfolio);
    text-align: center;
}
.proyect-div{
    display: flex;
    padding: 1em;
    justify-content: space-evenly;
    flex-wrap: wrap;

}
.proyect-card{
    display:flex;
    flex-direction: column;
    background-color: white;
    margin: 10px;
    width: 30%;
    height: 100%;
    box-shadow: 0 0 12px rgba(0,0,0, .2);
    border-radius: 10px;
    overflow: hidden;

}
.proyect-inf{
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 40px;
}
.proyect-title{
    font-size: 2rem;
    margin-bottom: 20px;
    color: var(--secondary);
    
}
.proyect-details{
    text-align: justify;
    width: 100%;
    line-height: 1.5;
    margin-bottom: 1.5rem;
    padding: 20px;
    overflow: hidden;
}
.portfolio-picture{
    width: 100%;
    height: 50%;
    display: block;
    object-fit: cover;
}

/*Experto*/
.title-2{text-align: center;}
.languages-container{
    display: flex;
    
    padding: 30px;
    margin: 1.3rem;
    justify-content: space-evenly;
}
.lg-picture{
    width: calc(100vw*0.2);
}
/*footer*/
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--secondary);
    color: #fff;
    text-align: center;
}
.contact-div{
    display: flex;
    justify-items: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.footer-con{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;

}
.footer_icons{
    display: inline-flex;
    padding: 10px;
}
.icono-emp{
    margin: 30px;
    color: white;
}
.icono-social{
    border: #fff solid;
    border-radius: 50%;
    
}
.icono-social>svg{
    margin: 1.3rem;
    width: 40px;
    height: 40px;
}

.footer_link{
    display: inline-block;
    font-size: 30px;
    color: #fff;
    margin: 0 20px;
    margin-bottom: 15px;
}
.footer-img{
    display: flex;
    justify-content: center;
    justify-items: flex-end;
}
.img-footer{
    width: 50%;
}

.footer_link:hover{
    text-decoration: underline;
    color: #000000e3;
}
.icono-emp:hover{
    color: var(--secondary)
}
.icono-social:hover{
    background-color: #000000e3;
    border: #000000e3 solid;
    border-radius: 50%;
}

@media screen and (max-width: 768px) {
    .menu-barra{
        display:flex;
        flex-direction: column;
        align-items: stretch;

    }
    .logo{
        text-align: left;
    }
    /**About-sec***/
    .about-sec{
        flex-direction: column;
        justify-content: center;
        justify-items: center;
        align-items: center;
        align-content: center;
    
    }

    .proyect-div{
        flex-direction: column;
        width: 300%;
        margin: 0%;
    }
    .languages-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .lg-picture{
        margin-bottom: 10px;
    }
    .footer-con{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        justify-items: center;
        align-items: center;
        align-content: center;
    }
    .footer-img{
        display: inline;
        align-items: center;
        text-align: center;
    }
}